{% extends "bootstrap/base.html" %}
{% block title %}DOTA2 analyzer{% endblock %}


{% block navbar %}
<div class="navbar navbar-fixed-top">

</div>
<style type=text/css>{{ get_resource_as_string('static/style.css') }}</style>
<script type=text/javascript src="{{
  url_for('static', filename='main.js') }}"></script>
{% endblock %}


{% block content %}
<div class="jumbotron">
    <img src="http://www.userlogos.org/files/logos/Kravlenissen/Dota-2(4x3)1-1.png">
    <h1>Match analyzer</h1>
    <p>The database contains {{count}} recorded matches.</p>
</div>
<div class="container">
    <div class="row">
        <p>Currently {{heroes | length}} playable heroes. Pick 5+5 to form a team.</p>
        <div id="counter">
            <p>10</p>
        </div>
        {% for image in heroes %}
        <div class="col-md-1"
             style="margin-right:0px; margin-left:0px; display:inline-block; padding:0; cursor: pointer;">
            <img onclick="myFunction(this)" src="{{image['url_vertical_portrait']}}" id={{image['id']}}
                 class="img-responsive" alt={{image['id']}}>
            <span>{{image['localized_name']}}</span>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <button onclick="predict()" type="button" class="btn btn-default">Predict!</button>
    </div>
</div>
{% endblock %}