.selected {
    filter: grayscale(100%);
    transform: scale(0.5);
}

.img-responsive {
    max-width: 75%;
}

img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.row {
    margin-bottom: 50px;
}

.played_heroes {
    display: inline-flex;
}

span {
    text-align: center;
    font-size: 12px;
    display: block;
    text-overflow: clip;
    width: 60px;
    height: 16px;
    font-weight: bold;
}