img:hover {
    transform: scale(1.1);
    z-index: 1;
}

span {
    text-align: center;
    font-size: 12px;
    display: block;
    text-overflow: clip;
    width: 80px;
    height: 16px;
    font-weight: bold;
}